<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>METAJOB</title>
</head>

<body>
<nav class="sidebar open">
    <header>
        <div class="image-text">
        <span class="image">
          <img src="../static/images/mtvs_logo.png" alt="">
        </span>

            <div class="text logo-text">
                <span class="name">METAJOB</span>
                <span class="profession">취업도우미</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <!--        <li class="search-box">-->
            <!--          <i class='bx bx-search icon'></i>-->
            <!--          <input type="text" placeholder="Search Ganes...">-->
            <!--        </li>-->

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">홈</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/faceswap">
                        <i class='bx bx-photo-album icon'></i>
                        <span class="text nav-text">사진 합성</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-id-card icon'></i>
                        <span class="text nav-text">이력서 평가 (예정)</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bar-chart-square icon'></i>
                        <span class="text nav-text">합격자 스펙 (예정)</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/interview">
                        <i class='bx bx-meh-blank icon'></i>
                        <span class="text nav-text">AI 면접 (예정)</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">로그인 없는 로그아웃</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">다크 모드</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>

<section class="home">
    <div class="text">
        <h1>AI 면접</h1>
    </div>

    <div class="videobox">

        <!-- 면접관 영상들 -->
        <div class="interviewer-videos">
            <video class="interviewer-video" id="interviewerVideo1" controls>
                <source src="{{ url_for('static', filename='videos/test_1.mp4') }}" type="video/mp4">
            </video>
            <video class="interviewer-video" id="interviewerVideo2" controls>
                <source src="{{ url_for('static', filename='videos/zzan.mp4') }}" type="video/mp4">
            </video>
            <video class="interviewer-video" id="interviewerVideo3" controls>
                <source src="{{ url_for('static', filename='videos/test_2.mp4') }}" type="video/mp4">
            </video>
        </div>

        <!-- 웹캠 영상 -->
        <div class="webcam-container">
            <video id="webcamVideo" class="webcamVideo" autoplay></video>
        </div>

    </div>

    <div class="transcription"></div>

</section>

<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        // searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    })
    // searchBtn.addEventListener("click", () => {
    //   sidebar.classList.remove("close");
    // })
    modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
            modeText.innerText = "라이트 모드";
        } else {
            modeText.innerText = "다크 모드";
        }
    });

    // 웹캠 접근
    navigator.mediaDevices.getUserMedia({video: true})
        .then(stream => {
            const webcamVideo = document.getElementById('webcamVideo');
            webcamVideo.srcObject = stream;
        })
        .catch(error => {
            console.log("웹캠에 접근할 수 없습니다:", error);
        });

    navigator.mediaDevices.getUserMedia({audio: true})
        .then(function (stream) {
            // 스트림을 성공적으로 얻은 경우
        })
        .catch(function (err) {
            // 오류가 발생한 경우
        });

    const recognition = new window.webkitSpeechRecognition(); // Chrome에서만 동작합니다.

    recognition.lang = 'ko-KR'; // 인식할 언어 설정
    recognition.interimResults = true; // 중간 결과를 반환할지 여부

    recognition.onresult = function (event) {
        const transcription = event.results[event.results.length - 1][0].transcript;
        transcriptionElement.innerText = transcription;
    }

    recognition.start(); // 음성 인식 시작

</script>

</body>

</html>